SUPABASE_URL=https://qcbeoqfdxswswzypvihm.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjYmVvcWZkeHN3c3d6eXB2aWhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU4NjI2NzIsImV4cCI6MjA3MTQzODY3Mn0.4jGh8T2Ihh9i0KXZ85E8HArDMqenJR9CaDvZwnP7JlI